USE [master]
GO
/****** Object:  Database [emlakDB]    Script Date: 12/26/2022 9:32:51 PM ******/
CREATE DATABASE [emlakDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'emlakDB', FILENAME = N'D:\Ankara University\real estate website\emlakDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'emlakDB_log', FILENAME = N'D:\Ankara University\real estate website\emlakDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [emlakDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [emlakDB]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 12/26/2022 9:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userFullName] [nvarchar](15) NULL,
	[userEmail] [nvarchar](15) NULL,
	[userPassword] [nvarchar](15) NULL,
	[userPhone] [nvarchar](15) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House]    Script Date: 12/26/2022 9:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[houseId] [int] IDENTITY(1,1) NOT NULL,
	[houseCode] [nvarchar](10) NULL,
	[houseAddress] [nvarchar](50) NULL,
	[housePrice] [float] NULL,
	[houseBuiltDate] [int] NULL,
	[houseHeating] [nvarchar](50) NULL,
	[houseConditioning] [nvarchar](50) NULL,
	[houseGarage] [nvarchar](50) NULL,
	[houseVisitCount] [int] NULL,
	[houseMainImg] [nvarchar](max) NULL,
	[houseType] [nvarchar](4) NULL,
	[vendorId] [int] NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[houseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 12/26/2022 9:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[imageId] [int] IDENTITY(1,1) NOT NULL,
	[imagePath] [nvarchar](max) NULL,
	[houseId] [int] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[imageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 12/26/2022 9:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[msgId] [int] IDENTITY(1,1) NOT NULL,
	[msgTitle] [nvarchar](50) NULL,
	[msgContent] [nvarchar](100) NULL,
	[vendorId] [int] NULL,
	[customerId] [int] NULL,
	[date] [nvarchar](10) NULL,
	[time] [nvarchar](10) NULL,
	[msgType] [nvarchar](1) NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[msgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agent] ON 

INSERT [dbo].[Agent] ([userId], [userFullName], [userEmail], [userPassword], [userPhone]) VALUES (1, N'Osman', N'osman@gmail.com', N'ooo', N'098765432')
INSERT [dbo].[Agent] ([userId], [userFullName], [userEmail], [userPassword], [userPhone]) VALUES (2, N'Ahmad', N'ahmad@gmail.com', N'aaa', N'091234567')
INSERT [dbo].[Agent] ([userId], [userFullName], [userEmail], [userPassword], [userPhone]) VALUES (3, N'Khaled', N'kaled@gmail.com', N'kkk', N'963852741')
SET IDENTITY_INSERT [dbo].[Agent] OFF
GO
SET IDENTITY_INSERT [dbo].[House] ON 

INSERT [dbo].[House] ([houseId], [houseCode], [houseAddress], [housePrice], [houseBuiltDate], [houseHeating], [houseConditioning], [houseGarage], [houseVisitCount], [houseMainImg], [houseType], [vendorId]) VALUES (3, N'3Sah', N'Address for third house', 22000, 1992, N'Electric', N'Electric', N'None', 48, N'3.jpg', N'R', 2)
INSERT [dbo].[House] ([houseId], [houseCode], [houseAddress], [housePrice], [houseBuiltDate], [houseHeating], [houseConditioning], [houseGarage], [houseVisitCount], [houseMainImg], [houseType], [vendorId]) VALUES (60, N'5Sah', N'address', 25000, 2020, N' Central forced air, propane', N'Central air', N'1 Attached garage space', 12, N'60.jpg', N'R', 1)
INSERT [dbo].[House] ([houseId], [houseCode], [houseAddress], [housePrice], [houseBuiltDate], [houseHeating], [houseConditioning], [houseGarage], [houseVisitCount], [houseMainImg], [houseType], [vendorId]) VALUES (61, N'2Rah', N'Apaydin / Antakya /Hatay-Turkey', 27000, 2003, N'propane', N'Central air', N'none', 2, N'1.jfif', N'S', 1)
SET IDENTITY_INSERT [dbo].[House] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([msgId], [msgTitle], [msgContent], [vendorId], [customerId], [date], [time], [msgType]) VALUES (2, N'msg                                               ', N'first message from Osman', 7, 1, N'12/17/2022', N'10:12 PM', N'm')
INSERT [dbo].[Message] ([msgId], [msgTitle], [msgContent], [vendorId], [customerId], [date], [time], [msgType]) VALUES (3, N'help', N'second message from Osman', 3, 1, N'12/18/2022', N'9:09 PM', N'm')
INSERT [dbo].[Message] ([msgId], [msgTitle], [msgContent], [vendorId], [customerId], [date], [time], [msgType]) VALUES (4, N'new', N'new message', 1, 2, N'12/19/2022', N'10:14 PM', N'm')
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_User] FOREIGN KEY([vendorId])
REFERENCES [dbo].[Agent] ([userId])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_User]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_House] FOREIGN KEY([houseId])
REFERENCES [dbo].[House] ([houseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_House]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User] FOREIGN KEY([vendorId])
REFERENCES [dbo].[Agent] ([userId])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User]
GO
USE [master]
GO
