@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Emlak Group, Inc., is a Turhish tech real-estate marketplace company that was founded in 2022, and was created by OSMAN SEBSEBIY, web developer.</p>
