@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Apaydin / Antakya /Hatay-Turkey<br/>
    <abbr title="Phone">P:</abbr>
    +905525636787
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rrosmanrr05@gmail.com">rrosmanrr05@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:rrosmanrr05@gmail.com">rrosmanrr05@gmail.com</a>
</address>